<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Basic HTML Page</title>
</head>

<body>
    <h1>This is the server for the ADA Seating App</h1>
    <h3><a href="/about">About this server</a></h3>
    
    <p>Explore the different endpoints:</p>
    <h3>Events API</h3>
    <ul>
        <li>
            <a href="/eventAPI/events">See all events</a>
        </li>
    </ul>
    <h3>Events API</h3>
    <ul>
        <li>
            <a href="/patronAPI/patrons">See all patrons</a>
        </li>
    </ul>
    <ul>
        <h3>Seats API</h3>
        <ul>
            <li>
                <a href="/seatAPI/allSeats">See all seats</a>
            </li>
        </ul>
</body>

</html>